@model FIFO.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/LoginRegisterStyle/css")
}

@section header_icon{
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
            <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</li>
        </ul>
    </div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new
{
    @class = "form-horizontal"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h3>Добро пожаловать в FIFO</h3>
    </div>
    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="col-sm-10">
            @Html.ValidationSummary(true, "", new { @class = "red-text" })
            <hr />
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success btn-block">Войти</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <a href="@Url.Action("Register", "Account")">
                    <button class="btn btn-primary btn-block">Зарегистрироваться</button>
                </a>
            </div>
        </div>
    </div>
}
    
